//$blue: #0088CC;
$blue: #97D4F2;

// used in boards/index.html.erb
#board_calendar {
  td a[rel=tooltip] {
    text-shadow: 0px 0px 4px black;
    margin-top: 5px;
    display: block;
  }

  .th_board_size {
    height: 70px;
  }

  .weekday_name_container {
    overflow: visible;
    width: 5px;
  }

  .weekday_name {
    -webkit-transform: rotate(-90deg);  
    -moz-transform: rotate(-90deg);  
    -o-transform: rotate(-90deg);  
    -ms-transform: rotate(-90deg);  
    transform: rotate(-90deg);
    color: $blue;
    position: relative;
    top: 0px;
    right: -5px;
  }

  .weekend {
    background-color: #ededff;
  }

  .today {
    background-color: #e7ffe9
  }
}