// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Blanch';
  src: url('blanch.eot');
  src: local('☺'), url('blanch.woff') format('woff'), url('blanch.ttf') format('truetype'), url('blanch.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
 background: #000 url("bg.jpg") top left no-repeat;
 background-size: 100%;
 text-align: center;
 font-family: arial, sans-serif;
 color: #fff;
}

.container {
 margin: 13% auto;
 width: 870px;

 .logo {
   width: 867px;
   height: 265px;
   font-family: "Blanch";
   margin-bottom: 25%;
   h1 {
    font-weight: normal;
    font-size: 212px;
    margin: 0;
    text-shadow: -4px 3px 4px black;
   }
   h2 {
    font-weight: normal;
    font-size: 68px;
    margin: 0;
   }
 }
 .button {
  color: #343434;
  text-decoration: none;
  font-size: 70px;
  font-family: "Blanch";
  text-transform: uppercase;
  padding: 5px 30px;

  background: #fbef7e; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZWY3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2RhMTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fbef7e 0%, #fcda15 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbef7e), color-stop(100%,#fcda15)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fbef7e 0%,#fcda15 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fbef7e 0%,#fcda15 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fbef7e 0%,#fcda15 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fbef7e 0%,#fcda15 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbef7e', endColorstr='#fcda15',GradientType=0 ); /* IE6-8 */

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;

  -moz-box-shadow: 0 0 3px 3px #343434;
  -webkit-box-shadow: 0 0 3px 3px#343434;
  box-shadow: 0 0 3px 3px #343434;

    &:hover {
      background: #fcda15;
    }
  }
}

// style only for notice at /home/index
.alert {
  border-radius: 7px;
  margin-bottom: 50px;
  padding: 15px;
  position:absolute;
  width: 30%;
  top: 20%;
  left: 35%;

  button.close {
    display: none;
  }
}

.alert-error {
  background-color: #B94A48;
  color: #EED3D7;
}

.alert-success {
  background-color: #468847;
  color: #D6E9C6;
}