<%# @param flash[:notice] message text %>
<%# @param flash[:notice_class] css class for alert div (error, info, success). Default success. %>
<% if !flash[:notice].nil? %>
<div class="alert alert-<%= flash[:notice_class].nil? ? 'success' : flash[:notice_class] %>">
  <button data-dismiss="alert" class="close" type="button">×</button>
  <%= flash[:notice] %>
</div>
<% end %>