<!DOCTYPE html>
<html>
<head>
 <title>Team Scheduler</title>
 <%= stylesheet_link_tag "home", :media => "all" %>
   <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
  <![endif]-->
</head>

<body>
 <!-- This file lives in public/404.html -->
 <div class="container">
  <%= yield %>
</div>
</body>
</html>
